# Task 1 ( Basics )

# Question 1 :
Define a function which can compute the sum of two numbers.

Hints:
Define a function with two numbers as arguments. You can compute the sum in the function and return the value.

In [ ]:
def calc_sum(num1,num2):
    return num1+num2

In [ ]:
num1=4
num2=5
calc_sum(num1,num2)

9

# Question 2:

    Write a method which can calculate square value of number

Hints:
    Using the ** operator

In [ ]:
def calc_square(num):
    return num**2

In [ ]:
calc_square(5)

25

# Question 3
Define a function that can convert a integer into a string and print it in console.

Hints:

Use str() to convert a number to string.

In [ ]:
def convert_integer_to_string(num):
    return str(num)

In [ ]:
convert_integer_to_string(123)

'123'

# Question 4 :
Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

Hints:

Use int() to convert a string to integer.

In [ ]:
def str_2_int(s):
    num1,num2=int(s[0]),int(s[1])
    return num1+num2

In [ ]:
str_2_int('45')

9

# Question 5 :
Define a function that can accept two strings as input and concatenate them and then print it in console.

Hints:

Use + to concatenate the strings

In [ ]:
def conc(s1,s2):
    return s1+s2

In [ ]:
conc('Ola','Abdallah')

'OlaAbdallah'

# Question 6 :
Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

Hints:

Use len() function to get the length of a string

In [ ]:
def find_maximum_length(s1,s2):
    if len(s1)>len(s2):
        print(s1)
    elif len(s2)>len(s1):
        print(s2)
    else:
        print(s1)
        print(s2)

In [ ]:
find_maximum_length('Ola','Abdallah')

Abdallah

# Question 7 :
Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

Hints:

Use % operator to check if a number is even or odd.

In [ ]:
def check():
    num=int(input())
    if num%2:
        print("It is an odd number")
    else :
        print("It is an even number")

In [ ]:
check()

7
It is an odd number

# Question 8 :
Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No". 

Hints:

Use if statement to judge condition.

In [ ]:
def check():
    s=input()
    if s.lower()=='yes':
        print('Yes')
    else:
        print('No')

In [ ]:
check()

YES
Yes

# Question 9 :
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: 
Consider use range(#begin, #end) method

In [ ]:
lst=[]
for i in range(2000,3201):
    if (i%7==0) and (i%5):
        lst.append(i)
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Question 10 :
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
#Search about it please

In [ ]:
def calc_factorial(num):
    if num==1:
        return 1
    return num*calc_factorial(num-1)

In [ ]:
calc_factorial(8)

40320

# Question 11 :
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def Calc(value):
    sum=0
    for i in range(5):
        sum+=int(i*value)
    return sum

In [ ]:
Calc(9)

90